<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li>
              <span class="icon icon--email">{% include icon-email.svg %}</span><span class="username">{{site.email }}</span>
            </li>
            {%- endif -%}

            {%- if site.google_scholar -%}
            <li>
              <a href="{{ site.google_scholar }}"> <span class="icon icon--google_scholar"> {% include icon-google_scholar.svg %}</span> <span class="username">Google Scholar</span> </a>
            </li>
            {%- endif -%}

          
        </ul>
      </div>


      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
      </div>
      
    </div>

  </div>

